/* .body{
    background-color: darkorange;
    color: white;
    text-align: center;
    padding-top: 10rem;
}
h1{
    color: rgb(55, 0, 255)!important;
    padding-bottom:5rem;
}
img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.h2{
    color: black;
}
button{
    padding: 0.5rem;
    border: none;
    background-color: rgb(90, 244, 131);
    
}
.a{
    text-decoration: none
    

}
.h3{
    color: black!important;
}
strong{
    color: black!important;

} */
