/* body{
    text-align: center;
   background-color: cornflowerblue;
   color: white;
   padding-top: 5rem;
}
p{
    color: rgb(255, 47, 47);
    font-size: 30px;
}
h2{
    text-decoration: underline;
    color: rgb(0, 255, 47);
} */
